.good-btn-primary {
  color: #22292f;
  border: 1px solid #22292f;
}

.good-btn-primary:hover {
  color: #328af1;
  border-color: #328af1;
}

.overflow-hidden {
  overflow: hidden;
}

.good-shadow {
  -webkit-box-shadow: 4px 4px 15px 0 rgba(36, 37, 38, 0.08);
  box-shadow: 4px 4px 15px 0 rgba(36, 37, 38, 0.08);
}
.good-shadow2 {
  box-shadow: 0 0 0.35rem rgb(128, 128, 128);
  drop-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.6));
}

.good-gradient-danger {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f44881),
    to(#ec454f)
  );
  background: linear-gradient(180deg, #f44881, #ec454f);
}

.good-gradient-success {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#6edcc4),
    to(#1aab8b)
  );
  background: linear-gradient(180deg, #6edcc4, #1aab8b);
}

.good-gradient-info {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#f19a1a),
    to(#ffc73c)
  );
  background: linear-gradient(0deg, #f19a1a, #ffc73c);
}

.good-gradient-primary {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#21c8f6),
    to(#637bff)
  );
  background: linear-gradient(180deg, #21c8f6, #637bff);
}

.good-radius {
  border-radius: 0.5rem;
}

.good-lable {
  padding: 0.475rem 2rem;
  border-radius: 25px;
}

.good-lable-primary {
  background-color: #f5f5f5;
  color: #333;
}

.good-lable-primary.active {
  color: #fff;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#21c8f6),
    to(#637bff)
  );
  background: linear-gradient(180deg, #21c8f6, #637bff);
  -webkit-box-shadow: 4px 4px 15px 0 rgba(36, 37, 38, 0.08);
  box-shadow: 4px 4px 15px 0 rgba(36, 37, 38, 0.08);
}
/*# sourceMappingURL=main.css.map */
