.sidebar {
  grid-area: sidebar;
  width: 100%;
  padding: 1rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);

  @media (max-width: 992px) {
    // display: none;
    padding: 1rem;
    background: linear-gradient(180deg, #21c8f6, #637bff);
  }
}

.btn-navToggle {
  display: none;

  @media (max-width: 992px) {
    display: block;
  }
}

.sidebar-searchInput {
  border-radius: 25px !important;
  border: none !important;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.sidebar {
  @media (max-width: 992px) {
    display: none;
  }

  &.active {
    @media (max-width: 992px) {
      display: block;
      position: fixed;
      top: 70px;
      left: 0;
      z-index: 999;
      width: 100%;
      background-color: rgba(13, 27, 101, 0.89);
    }
  }

  .sidebar_title {
    color: #555a96;
    font-size: 0.75rem;
  }

  .sidebar_nav-item {
    font-size: 0.95rem;
    position: relative;
    display: block;
    padding: 0.75rem 0.75rem;
    padding-left: 0;

    text-decoration: none;

    &:hover {
      background: $color-primary;
      color: #fff !important;

      &::before {
        content: "";
        position: absolute;
        left: -1rem;
        top: 50%;
        width: 3px;
        height: 50%;
        background-color: $color-primary;
        transform: translate(0, -50%);
      }
    }

    i {
      margin-right: 2rem;
    }
  }
}
